@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #3a3a3a;
  --primary-color: #e02c6d;
}

/* header section style */

body {
  font-family: "poppins";
}

.header {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 2rem 10rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 3rem;
}

.nav-links ul {
  display: flex;
  align-items: center;
  gap: 3rem;
  max-width: 500px;
  font-size: 16px;
}

.navbar img {
  width: 25px;
  height: 25px;
}

.menu {
  display: none;
}

/* banner section style */

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-txt {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-size: 3.3rem;
  color: var(--font-color);
  font-weight: 700;
}

.description {
  font-size: 1rem;
  font-weight: 600;
}

.btn {
  width: 196px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  border: none;
  gap: 10px;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
}

.banner-img {
  position: relative;
  width: 400px;
  height: 400px;
  left: -10rem;
}

.circle-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
}

.camera {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
}

/* link section style */

.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  padding: 0 10rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* popular section style */

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
}

.popular .title {
  font-size: 2rem;
  font-weight: 600;
}

.section {
  max-width: 330px;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.section img {
  border-radius: 5px;
}

.section-title {
  font-size: 28px;
  font-weight: 400;
}

.price {
  font-weight: 24px;
  font-weight: 400;
}

.star-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.text {
  max-width: 196px;
  font-size: 0.9rem;
}

.popular-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.popular-btn {
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: transparent;
  color: var(--primary-color);
  gap: 1rem;
  font-weight: 700;
}

/* join section style */
.join {
  margin-top: 100px;
  max-width: 1200px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.join-txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.join-txt h1 {
  font-size: 2.2rem;
  color: #0a0826;
}

.join-btn {
  border-radius: 0;
  width: 155px;
}

.gear {
  width: 100%;
  border-radius: 7px;
}

/* footer section style */

footer {
  background-color: #0a0826;
  color: #ffffff;
  margin-top: 100px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-section {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 576px) {
  .logo {
    font-size: 1.2rem;
  }

  .header {
    padding: 1rem 1rem;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .menu {
    display: block;
    width: 25px;
    height: 25px;
  }

  .search,
  .nav-links ul {
    display: none;
  }

  /* banner section style */

  .banner {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: -4rem;
  }

  .banner-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 1rem;
  }

  .title {
    font-size: 3rem;
  }

  .description {
    font-size: 1rem;
    text-align: center;
  }

  .banner-img {
    width: 250px;
    height: 250px;
    position: relative;
    left: 0;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .description {
    font-size: 1rem;
    font-weight: 600;
  }

  .circle-img,
  .camera {
    width: 100%;
  }

  /* link style  */

  .link {
    display: flex;
    margin: 0 auto;
    gap: 1rem;
    margin-top: -2rem;
    max-width: 270px;
    flex-wrap: wrap;
    padding: 0;
  }

  .link img {
    width: 50px;
    height: 15px;
  }

  /* popular section style */

  .popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
  }

  .popular .title {
    font-size: 2rem;
    font-weight: 600;
  }

  .section {
    max-width: 330px;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  .section img {
    border-radius: 5px;
  }

  .section-title {
    font-size: 28px;
    font-weight: 400;
  }

  .price {
    font-weight: 24px;
    font-weight: 400;
  }

  .star-section {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .text {
    max-width: 196px;
    font-size: 0.9rem;
  }

  .popular-item {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .popular-btn {
    margin: 0;
  }

  /* join section style */
  .join {
    display: flex;
    flex-direction: column-reverse;
  }

  .join-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .join-txt h1 {
    font-size: 1.5rem;
    text-align: center;
    max-width: 310px;
  }

  .join-txt p {
    font-size: 16px;
    text-align: center;
    max-width: 310px;
    color: #6c6c6c;
  }

  .join-btn {
    margin-top: 20px;
  }
}
